.banner {
  background: #36213E;
  padding: 22px 0;
}

.title-wrapper {
  text-shadow: 0px 4px 4px #00000040;
  font-family: "IM Fell Great Primer SC", Helvetica;
  font-weight: 400;
  color: #ffd600;
  font-size: 64px;
  text-align: center;
}

.title-wrapper.small {
  font-size: 28px;
  text-align: left;
  margin: 0 6px;
}

.body {
  position: relative;
  background: #63768D;
  font-family: "Monda", Helvetica;
  overflow: auto;
}

.nav {
  position: sticky;
  background: #E3E3E3;
  padding: 10px;
  top: 0;
  z-index: 100;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 8px;
  margin: 8px 0;
}

.nav-link {
  padding: 5px;
  font-weight: bold;
  color: #63768D;
  text-align: center;
}

.nav-link.active {
  color: black;
}

.contact-button {
  padding: 8px;
  border-radius: 20px;
  border: 3px solid #36213E;
  box-shadow: 0px 4px 4px #00000040;
  background: #63768D;
  color: #E3E3E3;
  font-weight: bold;
  margin-left: 10px;
}

.contact-button:hover {
  transform: translate(2px, 2px);
}

.contact-button.contact-button-lg {
  border: 3px solid #ffd600;
  font-size: 28px;
}

#about, #lessons, #costs, #scratch {
  padding-bottom: 120px;
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px;
}

#home {
  color: #C5CAE9;
}

.home-title {
  font-size: 32px;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 12px;
  color: #C5CAE9;
  font-weight: bold;
}

.home-items {
  margin: 32px 100px;
}

.home-item {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.home-item:last-child {
  margin-bottom: 0;
}

.home-item-icon {
  margin-right: 30px;
}

.home-item-icon {
  width: 65px;
}

.home-item-text {
  font-size: 18px;
}

.page-title {
  text-shadow: 0px 4px 4px #00000040;
  font-family: "IM Fell Great Primer SC", Helvetica;
  font-weight: 400;
  color: #ffd600;
  font-size: 64px;
  text-align: center;
  width: 100%;
  max-width: 1530px;
}

.page-title.left-title {
  text-align: left;
}

.page-title.right-title {
  text-align: right;
}

#about, #scratch {
  background: #63768D;
}

#home, #lessons, #costs {
  background: #36213E;
}

.about-items {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 77px;
}

.about-item {
  max-width: 256px;
  margin-right: 42px;
  flex: 1;
}

.about-item:last-child {
  margin-right: 0;
}

.about-item-title {
  font-family: "IM Fell Great Primer SC", Helvetica;
  color: #ffd600;
  font-size: 32px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
}

.about-item-text {
  background: #36213E;
  padding: 44px 30px;
  color: #E3E3E3;
  border-radius: 20px;
  font-weight: bold;
  height: 256px;
}

.text-container, .text-img-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  font-family: "Monda", Helvetica;
  font-weight: bold;
  margin-top: 16px;
  font-size: 18px;
  color: #E3E3E3;
}

.text-container {
  background: #36213E;
}

.text-img-container {
  background: #63768D;
}

#scratch .text-img-container {
  background: #36213E;
}

.text-img-container .text-img-text {
  flex: 2;
  padding: 10px;
}

.text-img-container .text-img-img {
  flex: 1;
  max-width: 33.33%;
  background: #E3E3E3;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

.text-img-container .text-img-img img {
  transform: scale(.75);
}

.text-img-container.img-left .text-img-img {
  order: 1;
}

.text-img-container.img-left .text-img-text {
  margin-right: 20px;
  text-align: left;
}

.text-img-container.img-right .text-img-text {
  margin-left: 20px;
  text-align: right;
}

#contact {
  padding-bottom: 120px;
}

.form {
  flex-direction: column;
  padding: 32px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input {
  height: 40px;
  background-color: #C5CAE9;
  color: #000;
  padding: 12px;
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 18px;
}

.textarea {
  height: 200px; /* 20px per row (5 rows) */
  background-color: #C5CAE9;
  color: #000;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-bottom: 18px;
}

.textarea::placeholder, .input::placeholder {
  color: #36213E;
  font-size: 18px;
}

.success {
  color: darkgreen;
}

.error {
  color: darkred;
}

.footer {
  background: #63768D;
  color: #E3E3E3;
  font-size: 16px;
  margin-top: -26px;
}

#currentYear {
  margin-left: 4px;
}

#lessons {
  position: relative;
}

.mascot {
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 10px;
  transform: scaleX(-1);
}